

// --variables

$bg-primary: #23344f;
$bg-secundary: #f5313d;
$bg-primary--hover: #354663;
$bg-secundary--hover: #c43c45;

$color-primary: #23344f;

$text-color-white: #fff;

$font-family-title: 'Nudista',sans-serif;

$font-family-text: 'Caviar-Dreams',sans-serif;
