
  
@font-face {
    font-family: 'Nudista';
    font-style: normal;
    font-weight: normal;
    src: local('Nudista'), url('/fonts/nudista.woff') format('woff');
  }
  
  
@font-face {
    font-family: 'Caviar-Dreams';
    src:url('/fonts/Futura-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{

    scroll-padding-top: 60px;

}


body{
    font-family: sans-serif, Arial;
}

p{
    line-height: 1.5rem !important;
}

@import 'utilities';  
@import 'header';
@import 'nosotros';
@import 'blog';
