<section class="section-clientes">
  <div class="container">
    <section class="box-clientes">
      <h2 class="title">NUESTROS CLIENTES</h2>
      <section class="box-clientes-section">
        <img class="box-clientes-section-img" src="img/img-brand-nestle.png" />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-beiersdorf.png"
        />
        <img class="box-clientes-section-img" src="img/img-brand-cpw.png" />
        <img class="box-clientes-section-img" src="img/img-brand-gloria.png" />
        <img class="box-clientes-section-img" src="img/img-brand-libus.png" />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-matritech.png"
        />
        <img class="box-clientes-section-img" src="img/img-brand-nutresa.png" />
        <img class="box-clientes-section-img" src="img/img-brand-olivar.png" />
        <img class="box-clientes-section-img" src="img/img-brand-pepsico.png" />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-perfumerias-unidas.png"
        />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-perufarma.png"
        />
        <img class="box-clientes-section-img" src="img/img-brand-purina.png" />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-qaliwarma.png"
        />
        <img class="box-clientes-section-img" src="img/img-brand-senati.png" />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-tabernero.png"
        />
        <img class="box-clientes-section-img" src="img/img-brand-teoma.png" />
        <img class="box-clientes-section-img" src="img/img-brand-tottus.png" />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-unilever.png"
        />
        <img
          class="box-clientes-section-img"
          src="img/img-brand-viña-vieja.png"
        />
      </section>
    </section>
  </div>
</section>
