

<section class="box-clientes">
    <h2 class="title">NUESTROS CLIENTES</h2>
    <section>
      <img src="img/nestle_.png" />
        <img src="img/tottus.png" />
        <img src="img/unilever.png" />
        <img src="img/gloria.png" />
        <img src="img/perfumerias-unidas .png" />
        <img src="img/nutresa.png" />
        <img src="img/cpw.png" />
      <img src="img/libus.png" />


    </section>
</section>