---
---


<section class="contact-brand">
      <section id="contacto" class="box-contacto">
        <h3 class="title contacto_title">¡CONTÁCTANOS!</h3>
        <div class="contacto_container_form">
          <form
            class="form"
            name="formContacto"
            action=""
            method="POST"
            onsubmit="return validarForm();"
          >
            <div class="contacto_form">
              <label class="contacto_form_label">Nombres:</label>
              <input
                class="contacto_form_input font-text-form"
                type="text"
                id="nombres"
                name="nombres"
                placeholder="Ingrese su nombre"
                required
              />
            </div>
            <div class="contacto_form">
              <label class="contacto_form_label">Email:</label>
              <input
                class="contacto_form_input font-text-form"
                type="email"
                id="email"
                name="email"
                placeholder="Ingrese su email"
                required
              />
            </div>
            <div class="contacto_form">
              <label class="contacto_form_label">Teléfono:</label>
              <input
                class="contacto_form_input font-text-form"
                type="tel"
                id="email"
                name="telefono"
                placeholder="Ingrese su número de teléfono"
                required
              />
            </div>
            <div class="contacto_form">
              <label class="contacto_form_label">Mensaje:</label>
              <textarea
                class="contacto_form_input font-text-form"
                id="mensaje"
                name="mensaje"
                cols="10"
                rows="10"
                placeholder="Estoy interesado.."
                required></textarea>
            </div>

            <div>
              <button type="submit">Enviar Datos</button>
            </div>
          </form>
        </div>
      </section>
      
      <section class="section_brand">
        <div class="brand">
        <div class="brand_logo">
          <img class="brand_logo_img" src="/img/logocianse.png" alt="">
          <h3 class="title brand_logo_title">CIANSE</h3>
          <p class="brand_logo_description"> Compañía Nacional de Servicios y Empaques</p>

        </div>
        <div class="brand_message">
          <p class="brand_message_p1">¡Queremos ayudarte a hacer realidad tus proyectos!</p>
          <p class="brand_message_p2">Más de 20 años en el mercado y cientos de clientes satisfechos respaldan nuestro excelente trabajo.</p>
        </div>
        <div class="brand_social-media">
          <i class="fa-brands fa-linkedin brand_social-media_item"></i>
          <i class="fa-brands fa-square-facebook brand_social-media_item"></i>        
        </div>
        </div>
      </section>
</section>
