---
---

<style is:global>
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .contacto_form {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .contacto_form_label {
    width: 100% !important;
  }
  .contacto_form_input {
    width: 100% !important;
    margin: 0 !important;
    padding: 1rem 1.5rem !important;
  }

  .location{
    display: flex;
    justify-content: start;
    align-items: center;
  }

  @media (min-width: 800px) {
    .contacto_information {
        display: grid !important;
        grid-template-columns: 1fr 1fr ;
        width: 80% !important;

    }
  }

</style>

<section id="contacto" class="box-contacto">
  <h2>¡CONTÁCTANOS!</h2>
  <div>
    <form
      class="form"
      name="formContacto"
      action=""
      method="POST"
      onsubmit="return validarForm();"
    >
      <div class="contacto_form">
        <label class="contacto_form_label">Nombres:</label>
        <input
          class="contacto_form_input font-text"
          type="text"
          id="nombres"
          name="nombres"
          placeholder="Ingrese su nombre"
          required
        />
      </div>
      <div class="contacto_form">
        <label class="contacto_form_label">Email:</label>
        <input
          class="contacto_form_input font-text"
          type="email"
          id="email"
          name="email"
          placeholder="Ingrese su email"
          required
        />
      </div>
      <div class="contacto_form">
        <label class="contacto_form_label">Teléfono:</label>
        <input
          class="contacto_form_input font-text"
          type="tel"
          id="email"
          name="telefono"
          placeholder="Ingrese su número de teléfono"
          required
        />
      </div>
      <div class="contacto_form">
        <label class="contacto_form_label">Mensaje:</label>
        <textarea
          class="contacto_form_input font-text"
          id="mensaje"
          name="mensaje"
          cols="10"
          rows="10"
          placeholder="Estoy interesado.."
          required></textarea>
      </div>
      <div>
        <button type="submit">Enviar Datos</button>
      </div>
    </form>
  </div>
  
</section>
