---
---

<style is:inline>
  .contact-location{

    background-color: var(--bg-primary);

  }


  .section-contact-location {
    display: flex;
    flex-direction: column;
  }

  .box-contacto {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    justify-content: start;
    padding: 1rem;
  }

  .contacto_title {
    margin: 0;
    color: #fff;
  }

  .contacto_container_form {
    width: 100% !important;
    padding: 1rem;
    margin-top: 1.5rem;

    box-sizing: border-box;
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .contacto_form {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .contacto_form_label {
    width: 100% !important;
  }
  .contacto_form_input {
    width: 100% !important;
    margin: 0 !important;
    /* padding: 1rem 1.5rem !important; */
  }



  .direction {
    padding: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
  }

  .direction_title {
    text-align: center;
    color: #fff;
    margin: 0;
  }

  .location {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .direction_item {
    width: 100%;
  }
  .direction_item_map {
    height: 160px;
  }

  @media (min-width: 800px) {
    .contacto_information {
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      width: 80% !important;
    }
  }
  @media (min-width: 1200px) {
    .section-contact-location {
      flex-direction: row;
      padding: 2rem 0;
    }

    .box-contacto{
      width: 50%;
    }
    .direction{
      width: 50%;
    }
    .direction_item_map{
      height: 200px;
    }
  }

</style>
<section class="contact-location">
  <div class="container">
    <section class="section-contact-location">
      <section id="contacto" class="box-contacto">
        <h3 class="title contacto_title">¡CONTÁCTANOS!</h3>
        <div class="contacto_container_form">
          <form
            class="form"
            name="formContacto"
            action=""
            method="POST"
            onsubmit="return validarForm();"
          >
            <div class="contacto_form">
              <label class="contacto_form_label">Nombres:</label>
              <input
                class="contacto_form_input font-text-form"
                type="text"
                id="nombres"
                name="nombres"
                placeholder="Ingrese su nombre"
                required
              />
            </div>
            <div class="contacto_form">
              <label class="contacto_form_label">Email:</label>
              <input
                class="contacto_form_input font-text-form"
                type="email"
                id="email"
                name="email"
                placeholder="Ingrese su email"
                required
              />
            </div>
            <div class="contacto_form">
              <label class="contacto_form_label">Teléfono:</label>
              <input
                class="contacto_form_input font-text-form"
                type="tel"
                id="email"
                name="telefono"
                placeholder="Ingrese su número de teléfono"
                required
              />
            </div>
            <div class="contacto_form">
              <label class="contacto_form_label">Mensaje:</label>
              <textarea
                class="contacto_form_input font-text-form"
                id="mensaje"
                name="mensaje"
                cols="10"
                rows="10"
                placeholder="Estoy interesado.."
                required></textarea>
            </div>

            <div>
              <button type="submit">Enviar Datos</button>
            </div>
          </form>
        </div>
      </section>

      <section class="direction">
        <h3 class="title direction_title">NUESTRAS UBICACIONES</h3>
        <div class="direction_item font-text">
          <p class="location">
            Cal. El Amauta Mza. Q Lote 9 Urb. San Juan Bautista de Villa,
            Chorrillos
          </p>
          <iframe
            class="direction_item_map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d409.9135617971845!2d-77.00881984873214!3d-12.195571815884358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9dfc05ad5e5%3A0xd98f82d0e40f34af!2sCianse%20SAC!5e0!3m2!1ses-419!2spe!4v1676361125453!5m2!1ses-419!2spe"
            width="100%"
            height="80"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="direction_item font-text">
          <p class="location">
            Cal. 3 Mza. M Lote 6 - Km 20000 Las Vertientes, Villa el Salvador
          </p>
          <iframe
            class="direction_item_map"
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3899.3668506686736!2d-76.96987928518567!3d-12.223421591349808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTLCsDEzJzI0LjMiUyA3NsKwNTgnMDMuNyJX!5e0!3m2!1ses!2spe!4v1676437236733!5m2!1ses!2spe"
            width="100%"
            height="80"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
    </section>
  </div>
</section>
