

<section id="equipo" class="box-equipo">
    <h2 class="title">NUESTRO EQUIPO</h2>
    <div>
        <section>
            <p class="font-text">
                En CIANSE S.A.C. contamos con una cultura organizacional basada en la diversidad,  participación y
                colaboración de los equipos, fomentando la innovación y potenciando el talento de nuestros colaboradores a
                través de un clima laboral sólido y una propuesta de trabajo horizontal e inclusivo donde todos tienen
                oportunidades.
            </p>
            <img src="img/nuestro-equipo.jpg" />
        </section>
        <section>
            <div>
                <div>
                    <img src="img/sentido-etico_.png" />
                </div>
                <div>
                    <h5>SENTIDO ÉTICO</h5>
                    <p class="font-text">
                        Desde su creación, Cianse S.A.C. defiende valores universales de responsabilidad, transparencia y
                        respeto a las personas y culturas. Sus principales expresiones son la promoción de la diversidad y el
                        desarrollo sostenible.
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <img src="img/liderazgo.png" />
                </div>
                <div>
                    <h5>LIDERAZGO</h5>
                    <p class="font-text">
                        A través de programas de liderazgo buscamos desarrollar  las habilidades de nuestros colaboradores para que
                         superen sus límites y escalen dentro de la organización.  No buscamos retener talento, sino impulsarlo.
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <img src="img/diversidad_.png" />
                </div>
                <div>
                    <h5>DIVERSIDAD</h5>
                    <p class="font-text">
                        Atraemos, reconocemos e impulsamos el talento de las personas poniendo en valor su diversidad. Este
                        compromiso, nos ha permitido beneficiarnos de un aprendizaje mutuo sobre la base del principio de Igualdad.
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>
