<style>

  .footer {
    background-color: #eee;
  }


  .footer_logo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 0  0 1rem;
  }
  .footer_logo_img{
    width: 52px;
  }

  .footer_logo_text{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-left: .25rem;
  }

  .footer_title{
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem !important;
  }

  .footer-section {
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas:
      "menu"
      "contact"
      "direction";

    padding: 1rem;
  }

  @media (min-width: 576px) {
    .footer-section {
      grid-template-areas:
        "menu contact"
        "direction direction";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }

  @media (min-width: 1200px) {
    .footer-section {
      grid-template-areas: "menu contact direction";
    }

  }
  .footer_section_menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
  }
  .footer_menu_title {
    margin: 0;
  }
  .footer_menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer_menu_item {
  }

  .footer_menu_item_link {
    display: inline-block;

    text-decoration: none;
    color: #000;
    padding-top: 1rem;
  }

  .footer_contacto {
    grid-area: contact;
    display: flex;
    flex-direction: column;
  }

  .footer_direction {
    grid-area: direction;
  }

 
  .footer_copyright {
    text-align: center;
  }
</style>

<footer class="footer">
  <div class="container">
    <!-- <div class="footer_logo">
      <img class="footer_logo_img" src="/img/logocianse.png" alt="">
      <p class="footer_logo_text">cianse</p>
    </div> -->
    <section class="footer-section">
      <section class="footer_section_menu">
        <h3 class="title footer_title">Menú</h3>
        <ul class="footer_menu font-text">
          <li class="footer_menu_item">
            <a class="footer_menu_item_link" href="/#nosotros">Nosotros</a>
          </li>
          <li class="footer_menu_item">
            <a class="footer_menu_item_link" href="/#servicios"
              >Nuestros Servicios</a
            >
          </li>
          <li class="footer_menu_item">
            <a class="footer_menu_item_link" href="/#instalaciones"
              >Nuestras Instalaciones</a
            >
          </li>
          <li class="footer_menu_item">
            <a class="footer_menu_item_link" href="/#equipo">Nuestro Equipo</a>
          </li>
          <li class="footer_menu_item">
            <a class="footer_menu_item_link" href="/#contacto">Contacto</a>
          </li>
        </ul>
      </section>

      <section class="footer_contacto">
        <h3 class="title footer_title">Central de Atención</h3>
        <div class="footer_contacto_schedule font-text">
          <p class="footer_contacto_schedule_days">
            <strong>Atendemos:</strong> De Lunes a Sábado
          </p>
          <p class="footer_contacto_schedule_hour">
            <strong>Horario:</strong> 8:00 a.m. - 6:00 p.m.
          </p>
          <p class="footer_contacto_schedule_phone">
            <strong>Telefono:</strong> +51 995713485
          </p>
          <p class="footer_contacto_schedule_email">
            <strong>Email:</strong> marcos.gutierrez@cianse.com
          </p>
        </div>
      </section>

      
    </section>
  </div>

  <hr />
  <p class="footer_copyright font-text">
    <strong>CIANSE</strong> | Todos los derechos reservados - 2023
  </p>
</footer>
