
<section class="instalaciones">
  <div class="container">
    <section id="instalaciones" class="box-instalaciones">
      <h2 class="title">INSTALACIONES</h2>
      <div>
        <section>
          <h4>SEDE VILLA EL SALVADOR</h4>
          <p class="font-text">
            Nuestra planta principal ubicada en Villa el Salvador, cuenta con
            áreas estratégicas planificadas para trabajar productos específicos.
            Nuestra moderna infraestructura y tecnología de punta nos permite
            realizar trabajos de alta calidad cumpliendo los estándares
            requeridos por nuestros clientes.
          </p>
          <div class="font-text">
            <div onclick="cambiarImg('villa',1);">
              <img src="img/dimension.png" />
              <h6>Dimensión</h6>
            </div>
            <div onclick="cambiarImg('villa',2);">
              <img src="img/area-de-produccion.png" />
              <h6>Área de producción</h6>
            </div>
            <div onclick="cambiarImg('villa',3);">
              <img src="img/recepcion-y-despacho.png" />
              <h6>Recepción y despacho</h6>
            </div>
            <div onclick="cambiarImg('villa',4);">
              <img src="img/area-frigorifica_.png" />
              <h6>Área frigorífica</h6>
            </div>
            <div onclick="cambiarImg('villa',5);">
              <img src="img/racks.png" />
              <h6>Posiciones en rack</h6>
            </div>
            <div onclick="cambiarImg('villa',6);">
              <img src="img/img-icon-video.png" />
              <h6>Video</h6>
            </div>
          </div>
          <button onclick="moveContacto();">CONTÁCTANOS</button>
          <!--Imagenes Chorrillos-->
          <img src="img/11.jpg" />
          <img src="img/22.jpg" />
          <img src="img/33.jpg" />
          <img src="img/4.jpg" />
          <img src="img/44.jpg" />
          <img src="img/5.jpg" />
        </section>
        <section>
          <!--Imagenes Villa-->
          <img src="img/1.jpg" />
          <img src="img/2.jpg" />
          <img src="img/3.jpg" />
          <img src="img/4.jpg" />
          <img src="img/5.jpg" />
          
          <img src="img/img-video-villa.png" />

          <h4>SEDE CHORRILLOS</h4>
          <p class="font-text">
            Nuestra planta ubicada en Chorrillos cuenta con una moderna
            infraestructura y áreas estratégicas acondicionadas para realizar
            trabajos específicos según los requerimientos de nuestros clientes.
          </p>
          <div class="font-text">
            <div onclick="cambiarImg('chorrillos',1);">
              <img src="img/dimension.png" />
              <h6>Dimensión</h6>
            </div>
            <div onclick="cambiarImg('chorrillos',2);">
              <img src="img/area-de-produccion.png" />
              <h6>Área de producción</h6>
            </div>
            <div onclick="cambiarImg('chorrillos',3);">
              <img src="img/recepcion-y-despacho.png" />
              <h6>Recepción y despacho</h6>
            </div>

            <div onclick="cambiarImg('chorrillos',4);">
              <img src="img/area-frigorifica_.png" />
              <h6>Área frigorífica</h6>
            </div>

            <div onclick="cambiarImg('chorrillos',5);">
              <img src="img/racks.png" />
              <h6>Posiciones en rack</h6>
            </div>
            <div onclick="cambiarImg('chorrillos',6);">
              <img src="img/img-icon-video.png" />
              <h6>Video</h6>
            </div>

          </div>
          <button onclick="moveContacto();">CONTÁCTANOS</button>
        </section>
      </div>
    </section>
  </div>
</section>
