---
import Nosotros from "../components/nosotros.astro";
import Servicios from "../components/servicios.astro";
import Instalaciones from "../components/instalaciones.astro";
import Equipo from "../components/equipo.astro";
import Clientes from "../components/clientes.astro";
import Contacto from "../components/contacto.astro";
---

<main class="main">
    

    <Nosotros />
            
    <Servicios />
    
    <Instalaciones/>
    
    <Equipo />
    <Clientes />
    <Contacto />

</main>