<section id="nosotros" class="box-nosotros">
    <h2 class="title">NOSOTROS</h2>
    <p>
        Cianse es una empresa especialista en servicios de maquila certificada en buenas prácticas de manufactura, con más
        de 17 años de experiencia dedicada a prestar servicios de mano de obra calificada cumpliendo altos estándares de
        calidad  y ofreciendo precios sumamente competitivos.
    </p>
    <section class="card-nosotros">

        <div>
            <img src="img/certificacion.png" />
            <h3>CERTIFICACIÓN SMETA</h3>
            <p>
              SMETA es una metodología  de auditoría enfocada en un conjunto de prácticas éticas dentro de una empresa.
              Está diseñada para ayudar a realizar auditorías de alta calidad, cubriendo
              cuatro áreas importantes de Trabajo: Normas Laborales, Salud y Seguridad, Medio Ambiente y Ética Empresarial.

            </p>
        </div>
        <div>
            <img src="img/personal_capacitado.png" />
            <h3>PERSONAL CAPACITADO</h3>
            <p>
                Contamos con un equipo altamente calificado y en constante capacitación según el puesto y rol que desempeñen.
                Mantener a nuestro personal capacitado, evaluado y motivado es uno de los aspectos claves para cumplir con
                nuestro objetivo de excelencia.
            </p>
        </div>
        <div>
            <img src="img/tecnologia.png" />
            <h3>TECNOLOGÍA DE PUNTA</h3>
            <p>
              Nuestros modernos equipos e instalaciones están diseñados y acondicionados estratégicamente para cumplir de manera eficiente
              cada uno de los servicios que ofrecemos a nuestros clientes.

            </p>
        </div>

    </section>
</section>