---
import Servicio from "./servicio.astro";
import dataServicios from "./../data/data.json";

const { servicios } = dataServicios;
---

<style is:inline>
  .container_servicios {
    position: relative;
  }

  .swiper-services {
    width: 100%;
    height: 600px;
    position: static;
    margin-top: 2rem;
  }

  .servicios_title {
    border-bottom: 7px solid #fe1c45;
    width: 5%;
    padding-bottom: 0.5%;
  }

  .swiper-services_button {
    color: var(--bg-primary);
    font-weight: bold;
    position: absolute;
    display: none;
  }

  @media (min-width: 992px) {
    .container_servicios {
      padding: 0 3.5rem;
    }

    .swiper-services_button {
      display: flex;
    }
  }
</style>

<section id="servicios" class="box-servicios">
  <div class="container">
    <h2 class="title servicios_title">SERVICIOS</h2>
  </div>
  <div class="container container_servicios">
    <div class="swiper swiper-services">
      <div class="swiper-wrapper">
        {
          servicios
            ? servicios.map((e) => (
                <>
                  <Servicio
                    id={e.id}
                    img={"/img/" + e.imagenes?.at(0)}
                    title={e.nombre}
                  />
                </>
              ))
            : "error al cargar los servicios"
        }

        <!-- <Servicio id="1" img="/img/termoencogibles.png" title="TERMOENCOGIBLE Y TERMOCONTRAIBLE" />
      <Servicio id="2" img="/img/termoencogibles.png" title="TERMOENCOGIBLE Y TERMOCONTRAIBLE" />
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>

      <div class="swiper-slide">Slide 3</div> -->
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div
        class="swiper-button-prev swiper-services_button swiper-services_button--left"
      >
      </div>
      <div
        class="swiper-button-next swiper-services_button swiper-services_button--right"
      >
      </div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>

<script type="module">
  const swiper = new Swiper(".swiper-services", {
    // Optional parameters
    direction: "horizontal",
    loop: false,

    breakpoints: {
      768: {
        slidesPerView: 2,
        slidesPerGroup: 2,
        spaceBetween: 20,
      },
      1200: {
        slidesPerView: 3,
        slidesPerGroup: 3,
        spaceBetween: 20,
      },
    },

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
  });
</script>
