---

    const {img,title,id} = Astro.props;




---
<style>

    .card_servicios{
        border-radius: 1rem;
        overflow: hidden;
        box-sizing: content-box;
        /* box-sizing: border-box; */


    }
    .card_servicios_img{
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

    .card_servicios_information{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 26%;
        padding-bottom: 1rem;
        box-sizing: border-box;
        text-align: center;
        background-color: #fff;
        box-sizing: content-box;
        border-bottom: 8px solid var(--bg-primary);
        border-radius: 0 0 1rem 1rem;
    }


</style>


<div class="swiper-slide card_servicios">
    <img class="card_servicios_img" src={img}/>

    <div class="card_servicios_information">
        <h4 class="card-servicios_title">{title}</h4>
        <a href={"/servicios/"+id} class="card-servicios_button" >ver más</a>

    </div>
    

</div>