---
import Footer from "../components/footer.astro";


const {title,descripcion,keywords} = Astro.props;

---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={descripcion || "M치s de 17 a침os brindando soluciones integrales en maquila de empaques para la mejor exhibici칩n de sus productos."}
    />
    <meta
      name="keywords"
      content={ keywords || "termocontraible, termoencogibles, maquila de empaques, empaquetado de productos, empaques, etiquetados, packaging, tercerizaci칩n de servicios, armado de canastas, armado de promociones, outsourcing, limpieza de productos, logistica, almacenamiento, pack promocionales, supply chain management, desarrollo de empaques, encintado, acondicionado de productos, reacondicionado de productos"}
    />
    <meta
      name="google-site-verification"
      content="adC7lVSR__aVRNSDRIG_HHuug6A8oOSfRxvgFDPM01I"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Cianse - Especialistas en maquila de empaques"}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" href="/img/logocianse.ico" />
    
    <script is:inline src="/js/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6134260e4d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  </head>
  <body>
    
    <slot />

    <Footer />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  </body>
</html>
